@page
@model Nabu_Mobile.Pages.Admin.Customer.IndexModel
@{
}

<div id="content-right">
    <div class="path-admin">CUSTOMER LIST</b></div>
    <div class="content-main">
        <div id="content-main-dashboard">
            <div id="product-title-header">
                <div id="product-title-2" style="width: 55%;">
                    <form method="get">
                        @if (ViewData["Search"] is not null)
                        {
                            <input type="text" name="txtSearch" placeholder="Enter cus name to search" asp-for="@ViewData["Search"]" />
                        }
                        else
                        {
                            <input type="text" name="txtSearch" placeholder="Enter cus name to search" />
                        }
                        <input type="submit" value="Search" />
                    </form>
                </div>
@*                <div id="product-title-3" style="width: 20%;">
                    <a href="/admin/product/create">Create a new Product</a>
                    <a asp-page="/admin/product/index" asp-page-handler="export" asp-route-ddlCategory="@ViewData["Category"]" asp-route-txtSearch="@ViewData["Search"]">Export to .xls or .xlsx file</a>
                    <form enctype="multipart/form-data" method="post">
                        <label for="upload-file">Import .xls or .xlsx file</label>
                        <input type="file" name="file" id="upload-file" onchange="this.form.submit()" />
                    </form>
                </div>*@
            </div>
            <div id="order-table-admin">
                <table id="orders">
                    <tr>
                        <th>CustomerID</th>
                        <th>CompanyName</th>
                        <th>ContactName</th>
                        <th>ContactTitle</th>
                        <th>Adress</th>
                        <th></th>
                    </tr>
                    @if (Model.customers is not null)
                    {
                        @foreach (var customer in Model.customers)
                        {
                            <tr>
                                <td><a asp-route-id="@customer.CustomerId">#@customer.CustomerId</a></td>
                                <td>@customer.CompanyName</td>
                                <td>@customer.ContactName</td>
                                <td>@customer.ContactTitle</td>
                                <td>@customer.Address</td>
                               
@*                                <td>@product.Discontinued</td>
                                <td>
                                    <a asp-page="/admin/product/create" asp-route-id="@product.ProductId">Edit</a> &nbsp; | &nbsp;
                                    @if (product.Discontinued == false)
                                    {
                                        <a asp-page="/admin/product/delete" asp-route-id="@product.ProductId" onclick="return confirm('Are you sure you want to Delete?')">Delete</a>
                                    }
                                    else
                                    {
                                        <a>Hide</a>
                                    }
                                </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        @ViewData["Mess"]
                        ;
                    }
                </table>
            </div>
            <div id="paging">
                <div class="pagination">
                    @if (Model.customers is not null)
                    {
                        @if (Model.customers.TotalPages > 0)
                        {
                            @if (Model.customers.CurrentPage > 1)
                            {
                                <a asp-page="/admin/product/index"

                       asp-route-pageIndex="@(Model.customers.CurrentPage-1)"
                       asp-route-txtSearch="@ViewData["Search"]">&laquo;</a>
                            }
                            @for (var i = Model.customers.StartPage; i <= Model.customers.EndPage; i++)
                            {
                                @if (i == Model.customers.CurrentPage)
                                {
                                    <a class="active" asp-page="/admin/product/index"

                       asp-route-pageIndex="@i"
                       asp-route-txtSearch="@ViewData["Search"]">@i</a>
                                }
                                else
                                {
                                    <a asp-page="/admin/product/index"

                       asp-route-pageIndex="@i"
                       asp-route-txtSearch="@ViewData["Search"]">@i</a>
                                }
                            }
                            @if (Model.customers.TotalPages > 1 && Model.customers.CurrentPage < Model.customers.TotalPages)
                            {
                                <a asp-page="/admin/product/index"

                       asp-route-pageIndex="@(Model.customers.CurrentPage+1)"
                       asp-route-txtSearch="@ViewData["Search"]">&raquo;</a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
